body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dndPanel {
  display: flex;
}

pre {
  position: relative;
}

button.code {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 0.4rem;
  color: #000;
  background-color: #efefef;
  height: 30px;
  transition: all .25s ease-out;
  outline: none;
}

.feedback-icon:hover {
  cursor: pointer;
}

textarea#feedback-form { resize: none; }